    <h1>Registrar-se</h1>

    <form action="">
        <fieldset>
            <legend>Preencha os campos para se registrar</legend>
            <br>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
            <br><br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <br><br>
            <label for="sexo">Sexo:</label>
            <br>
            <label for="masculino">Masculino</label>
            <input type="radio" name="sexo" id="masculino">
            <label for="feminino">Feminino</label>
            <input type="radio" name="sexo" id="feminino">
            <br><br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha">
            <br><br>
            <input type="button" value="Registrar" onclick="">
            <br><br>
            <a href="index.html">Voltar para tela de login</a>
        </fieldset>
    </form>